<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="6.0.20" targetFramework="xamarinios10" />
  <package id="akavache.core" version="6.0.20" targetFramework="xamarinios10" />
  <package id="akavache.sqlite3" version="6.0.20" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter" version="1.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="1.9.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="1.9.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="xamarinios10" />
  <package id="Refractored.XamForms.PullToRefresh" version="2.2.2" targetFramework="xamarinios10" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.60.0" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="1.60.0" targetFramework="xamarinios10" />
  <package id="Splat" version="4.0.2" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.ios_unified.static" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.internal.ios_unified" version="1.1.11" targetFramework="xamarinios10" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="xamarinios10" />
  <package id="System.Reactive" version="4.0.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Toasts.Forms.Plugin" version="3.3.2" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="0.9.1-preview" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.3.840" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.3.840" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.1.0.583944" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.InputKit" version="2.0.5" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.RangeSlider" version="0.7.36" targetFramework="xamarinios10" />
  <package id="Xamarin.RangeSlider" version="0.7.36" targetFramework="xamarinios10" />
</packages>